---
layout: default
title: 
section_id: downloads
---


<div class='full parallax' style='background-image: url(images/background/join.png); color: #fff;'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='three spacing'></div>
</div>

<div class='three spacing'></div>

<div class='large-12 columns'>
  {% include section-header.html title="ICDAR24 MapText Competition (English)" %}
</div>


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <p style="font-size: 1.2rem"> The following links are for the <a href="https://www.davidrumsey.com/">David Rumsey Historical Map</a> data and Ground-Truth annotations used in the <a href="https://rrc.cvc.uab.es/?ch=28&com=introduction">ICDAR24 MapText Competition</a>.</p>
      <p style="font-size: 1.2rem"> The David Rumsey Collection hosts an extensive set of over 126,000 maps spanning maps from the 16th to the 21st century that encompass regions from every continent, the Pacific, the Arctic, and the entirety of the World. From this rich assortment, we have selected ~900 distinct representative maps for manual annotation. The sampled maps cover 80 regions and 183 distinct publication years (from 1623 to 2012).
      Digitized map images can be on the order of 6K-15K pixels per dimension. Thus, for each map, we crop a  2K×2K pixel tile for annotation and processing.
      We expect to have 150K-200K words across the map tiles.  </p>
      <h3 style="font-size: 1.5rem">Training Data and Validation Data</h3>
      <p style="font-size: 1.2rem"><strong>Training:</strong> <a href="https://s3.msi.umn.edu/icdar24-competition-data/icdar24-train-png.zip">https://s3.msi.umn.edu/icdar24-competition-data/icdar24-train-png.zip</a>
 </p>
      <p style="font-size: 1.2rem"><strong>Validation:</strong> <a href="https://s3.msi.umn.edu/icdar24-competition-data/icdar24-val-png.zip">https://s3.msi.umn.edu/icdar24-competition-data/icdar24-val-png.zip</a></p>
      
      <h3 style="font-size: 1.5rem">Test Data</h3>
      <p style="font-size: 1.2rem"> To appear soon. </p>
    </div>
  </div>
</div>

<div class='three spacing'></div>

<div class='three spacing'></div>





