---
layout: default
section_id: home

---

<div class='full parallax' style='background-image: url(images/background/slider_historical_map.jpeg); color: #fff;'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class="special-title centered-text">
        <a href="https://github.com/knowledge-computing/knowledge-computing.github.io"><h2 style="font-size: 4.0rem; color: white; -webkit-text-stroke: 1px black;">Knowledge Computing</h2></a>
      </div>
      
      <div class='two spacing'></div>
 
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class="full"  style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      <div class="two spacing"></div>
      {% include section-header.html title="Our Research" %}

      <p style="font-size: 1.3rem">Welcome to our research lab at the <a href="https://cse.umn.edu/cs">Computer Science & Engineering Department</a>, <a href="https://twin-cities.umn.edu/">University of Minnesota, Twin Cities</a>.</p>
<p style="font-size: 1.3rem">Our research focuses on applied machine learning and data science, thriving at the intersection of <b>computer science</b> and <b>spatial sciences</b>. We create advanced machine learning algorithms and intelligent systems to tackle real-world challenges by:
<ul style="font-size: 1.3rem"> <li>Dicovering, gathering, integrating, and interpreting data from diverse sources</li> <li>Leveraging multimodal data characterized by diverse spatial and temporal scales, completeness, and coverage</li> </ul>

<p style="font-size: 1.3rem">We are currently concentrating on building machine learning frameworks that exploit spatial data properties and structural knowledge to address challenges in <b>natural language processing</b>, <b>computer vision</b>, and <b>spatiotemporal data prediction & forecasting</b>. We collaborate with domain experts in fields such as:</p>
<ul style="font-size: 1.3rem">
  <li>Transportation</li>
  <li>Health and public health</li>
  <li>Human geography and history</li>
  <li>Digital humanities, library science, and museums</li>
  <li>Agriculture</li>
</ul>
<p style="font-size: 1.3rem">Our work involves analyzing a wide range of datasets, including:</p>
<ul style="font-size: 1.3rem">
  <li> Scenic photos (e.g., Google Street View)</li>
  <li>Complex scanned documents (e.g., scanned maps)</li>
  <li>In-situ sensor observations (e.g., air quality monitors, ECG data)</li>
  <li>Remote sensor data (e.g., satellite imagery, elevation data)</li>
  <li>Time series data (e.g., weather and traffic data)</li>
  <li>Natural language data</li>
  <li>Graph data (e.g., network logs, linked data)</li>
  <li>Spatial data (e.g., moving trajectories)</li>
</ul>
<p style="font-size: 1.3rem"><a href="research.html">Learn more about our research</a> and <a href="https://github.com/knowledge-computing/">find our Github</a>  (In 2021, we transitioned from the Spatial Sciences Institute at the University of Southern California (USC) to Minnesota. <a href="https://spatial-computing.github.io/">Explore our lab page at USC.</a>)</p>

      
      <div class='full'>
        <div class='row'>
          <div class='mod modGallery'>
            <div class='gallery-nav'>
              <ul style="font-size: 1.3rem;">
                <li class='current'><a data-cat='all' href='#'>All</a></li>
                <li><a data-cat='cv' href='#'>Computer Vision</a></li>
                <li><a data-cat='st' href='#'>Spatiotemporal Data Analysis</a></li>
                <li><a data-cat='nlp' href='#'>Natural Language Understanding</a></li>
                <li><a data-cat='kg' href='#'>Knowledge Graphs</a></li>
                <li><a data-cat='map' href='#'>Digital Map Processing</a></li>
                <li><a data-cat='health' href='#'>Health</a></li>
                <li><a data-cat='smartcity' href='#'>Smart City</a></li>
                <li><a data-cat='trans' href='#'>Transportation</a></li>
                <li><a data-cat='geoint' href='#'>Geospatial Intelligence (GeoINT)</a></li>
                <li><a data-cat='others' href='#'>Others</a></li>
              </ul>
            </div>

            <ul class='gallery large-block-grid-4'>
              {% for work in site.data.research %}
                <li class="{{ work.klass }}">
                  <a href='/research.html#{{ work.title }}'>
                    <img alt="" src="{{ work.image }}" style="border: 1px solid black;" />
                    <div class='overlay'>
                      <div class='thumb-info' style="padding: 0 10px;">
                        <h3>{{ work.title }}</h3>
                        <p>{{ work.desc }}</p>
                      </div>
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div class='three spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our Sponsors" %}
    </div>
    <div class='four spacing'></div>
    <div class='centered-text'>
      {% for item in site.data.sponsors %}
      <div class='modSponsor'>
        <img class="avatar" alt="" src="{{ item.image }}" style="object-fit:scale-down;" />
        <!-- <h3>{{item.name}}</h3> -->
      </div>
      {% endfor %}
    </div>
</div>

<div class='three spacing'></div>
