---
layout: default
section_id: home
slides:
  - bg: images/background/slider_historical_map.png
    title:
      klass: bottom-to-top
      text: Image Recognition
    buttons:
      klass: bottom-to-top
      items:
        - text: Learn More
          link_to: research/contextmp.html
  - bg: images/background/slider_air_quality.png
    title:
      klass: bottom-to-top
      text: Spatiotempotal Data Analytics
    buttons:
      klass: bottom-to-top
      items:
        - text: Learn More
          link_to: research/contextmp.html
  - bg: images/background/slider_geobert.png
    title:
      klass: bottom-to-top
      text: Natural Language Processing in Geo Data
    buttons:
      klass: bottom-to-top
      items:
        - text: Learn More
          link_to: research/contextmp.html

research:          
  - image: images/research/jonsnow.png
    title: ContextMP
    link_to: research/contextmp.html
    desc: Computer Vision & Machine Learning for Historical Map Understanding
  - image: images/research/jonsnow.png
    title: Jonsnow
    link_to: research/jonsnow.html
    desc: Deep Learning Method for Air Quality Prediction
---

<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg }});'></div>
          <!-- <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div> -->
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}' style="font-size: 1.5rem; background-color: darkcyan; border: none; border-radius: 8px;">{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Who We Are" %}
    <div class="spacing"></div>
    <p style="font-size: 1.2rem">
      We are an interdisciplinary research lab at the <a href="https://cse.umn.edu/cs"><b>Computer Science & Engineering Department</b></a>, <a href="https://twin-cities.umn.edu/"><b>University of Minnesota</b></a>. 
    </p>
    </div>
  </div>
  <div class="three spacing"></div>
</div>


<div class="full"  style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Our Research" %}
      <div class='spacing'></div>
      <p style="font-size: 1.2rem">
        Our research lies at the intersection of <b>computer science</b> and <b>spatial sciences</b>. In general, we build intelligent algorithms and applications for: <b>discovering, collecting, fusing, and analyzing data from heterogeneous sources to solve real-world problems.</b>

      Recently, we focus on developing machine learning frameworks that exploit unique spatial data properties and prior structural knowledge to tackle problems in natural language processing, computer vision, and time-seres data analysis.</b>
    </p>
    <p style="font-size: 1.2rem">
      For example, we are pioneering novel map processing technologies to unlock historical geographic information from maps. Our open-source software, Strabo and mapKurator, “reads” scanned maps for automatically generating rich metadata. In another project, in collaboration with the USC Information Sciences Institute and the USC Keck Medical School, we are developing data mining algorithms and a system for automatic predictions of fine-scale air pollutant concentrations. 
      </p>
      <div class='two spacing'></div>
      <div class="mod modGallery">
        <ul class="gallery large-block-grid-4">
          {% for item in page.research %}
            <li>
              <a href='{{ item.link_to }}'>
                <img alt="" src="{{ item.image }}"         />
                <div class='overlay'> 
                  <div class='thumb-info'>
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.desc }}</p>
                  </div>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div> 
  </div>
  <div class='three spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our Sponsors" %}
    </div>
    <div class='four spacing'></div>
    <div class='centered-text'>
      {% for item in site.data.sponsors %}
      <div class='modSponsor'>
        <img class="avatar" alt="" src="{{ item.image }}" style="object-fit:scale-down;" />
        <!-- <h3>{{item.name}}</h3> -->
      </div>
      {% endfor %}
    </div>
</div>

<div class='three spacing'></div>
