---
layout: default
title: Join Us
section_id: join
---

<div class='full parallax' style='background-image: url(images/background/join.png); color: #fff;'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Join Us" color="#fff" class="big" %}
    </div>
  </div>
  <div class='three spacing'></div>
</div>

<div class='three spacing'></div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <p style="font-size: 1.2rem"> We are always looking for talented and motivated students to work on exciting problems in spatial science, data science, and computer science. Before you send us an email, please talk to at least one PhD student in our lab. We are receiving many applications every semester, and we have limited positions. In your email, please include 1) your resume, 2) a short description of your research interests, 3) the PhD student whom you have talked to, and 4) the research projects that you'd like to participate.</p>

      <h3 style="font-size: 1.5rem">Graduate Students & Undergraduate Students</h3>
      <p style="font-size: 1.2rem; margin: 0pt;"> Directed research students: We ask you to put down at least 15 hours a week to finish a cool project.</p>
      <p style="font-size: 1.2rem"> Current UMN Ph.D. students: If you want to join the lab, please talk to our Ph.D. students first.</p>
      
      <h3 style="font-size: 1.5rem">Visitors and Students from Other Schools (including international scholars and students)</h3>
      <p style="font-size: 1.2rem"> We welcome visitors and students from other schools. We had great experiences with international summer interns in the past. Come work with us in Minneapolis and enjoy the great four-season weather and friendliest people in the country!</p>
      
      <h3 style="font-size: 1.5rem">Prospective Ph.D. Students</h3>
      <p style="font-size: 1.2rem"> We take Ph.D. students from the UMN Ph.D. programs in Computer Science & Engineering. If you want to work with us for your Ph.D. study, you are welcome to send us an email describing your research interest before you apply. This way we will be able to find your application after the admission committee has reviewed your profile. However, in most of the cases, we will not be able to tell you your chance of getting into the program. </p>
    </div>
  </div>
</div>

<div class='three spacing'></div>

<div class='large-12 columns'>
  {% include section-header.html title="Lab Activities" %}
</div>

<div class='three spacing'></div>

<div class='full'>      
  <div class='row'>
    {% for item in site.data.activities %}
      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          <img class="fadeinleft" style="object-fit: cover; height: 260px;" src="{{item.image}}" /></a>
          <!-- <div class='content'>
            <p>{{item.desc}}</p>
          </div> -->
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class='three spacing'></div>




