---
layout: default
title: Publications
section_id: publications
---

<div class='full parallax' style='background-image: url(images/background/publications.png); color: #fff;'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Publications" color="#fff" class="big" %}
    </div>
  </div>
  <div class='three spacing'></div>
</div>


<!-- <div class='full'>
  <div class='row'>
    <h2>Book</h2>
    <ol reversed="reversed" type="1" style="font-size: 1.2rem;">
      {% for publication in site.data.publications.book %}
        <li ><a href={{publication.link}}>{{publication.authors}} ({{publication.year}}). {{publication.title}}. In {{publication.publisher}}</a></li> 
      {% endfor %}
    </ol>
  </div>
  <div class='spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <h2>Book Chapters</h2>
    <ol reversed="reversed" type="1" style="font-size: 1.2rem;">
      {% for publication in site.data.publications.book_chap %}
        <li><a href={{publication.link}}>{{publication.authors}} ({{publication.year}}). {{publication.title}}. In {{publication.publisher}}</a></li> 
      {% endfor %}
    </ol>
  </div>
  <div class='spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <h2>Refereed Journal Articles</h2>
    <ol reversed="reversed" type="1" style="font-size: 1.2rem;">  
      {% for publication in site.data.publications.journal %}
        <li><a href={{publication.link}}>{{publication.authors}} ({{publication.year}}). {{publication.title}}. In {{publication.publisher}}</a></li>
      {% endfor %}
    </ol>
  </div>
  <div class='spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <h2>Refereed Conference & Symposium Proceedings</h2>
    <ol reversed="reversed" type="1" style="font-size: 1.2rem;">
      {% for publication in site.data.publications.proceedings %}
        <li><a href={{publication.link}}>{{publication.authors}} ({{publication.year}}). {{publication.title}}. In {{publication.publisher}}</a></li> 
      {% endfor %}
    </ol>
  </div>
  <div class='spacing'></div>
</div>
 -->

<div class='full'>
  <div class='row'>
    <script src="https://bibbase.org/show?bib=http%3A%2F%2Fknowledge-computing.github.io%2Fpublications.bib&amp;jsonp=1"></script>
    </div>
</div>


<div class='three spacing'></div>
