---
layout: default
title: Research Projects
section_id: research
---

<div class='full parallax' style='background-image: url(images/background/research.png); color: #fff;'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Research Projects" color="#fff" class="big" %}
    </div>
  </div>
  <div class='three spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div>
      <img class="avatar" alt="" src="./images/research/complete_ongoing.png" style="height: 50px;" />
    </div>
    {% for work in site.data.research %}
      <div class='two spacing'></div>
      <div class="container">
        <div style="padding: 0 20px">
          <div class='col-md-10 offset-1' style="position: relative">
            <span id="{{work.title}}" style="position: absolute;top: -100px"></span>
            <!-- <div style="display: flex"> -->
            <div style="display: flex; flex-wrap: wrap;">
              <div style="flex-shrink: 0; margin-right: 40px">
                <img src="{{ work.image }}" class="img-fluid" alt="msaenet-icon" style="object-fit: cover; height: 250px; width: 250px; border: 1px solid black;" />
              </div>
              <div style="max-width: calc(100% - 400px); min-width: 300px; ">
                <p style="font-size: 1.2rem;"><b>{{ work.title }}</b> &nbsp
                  {% if work.progress == "complete" %}
                    <img class="avatar" alt="" src="./images/research/complete_icon.jpg" style="height: 30px;" />
                  {% else %}  
                    <img class="avatar" alt="" src="./images/research/ongoing_icon.jpg" style="height: 30px;" />
                  {% endif %} 
                </p> 
                <p class="font-italic" style="font-size: 1.rem"> {{ work.abstract }}</p>
                {% if work.paper %}
                  <p class="font-italic" style="font-size: 1.rem"> <b>Selected Paper(s):</b> {{ work.paper }}</p>
                {% endif %}
                {% if work.sponsor %}
                <p class="font-italic" style="font-size: 1.rem"> <b>Sponsor:</b> {{ work.sponsor }}</p>
                {% endif %}
                <div class='one spacing'></div>
                <p style="word-spacing: 10px">
                  {% if work.github %}
                  <a href="{{ work.github }}" class="btn btn-outline-primary">GitHub</a>
                  {% endif %}
                  {% if work.github1 %}
                  <a href="{{ work.github1 }}" class="btn btn-outline-primary">GitHub</a>
                  {% endif %}
                  {% if work.demo %}
                  <a href="{{ work.demo }}" class="btn btn-outline-primary">Demo</a>
                  {% endif %}
                  {% if work.link %}
                  <a href="{{ work.link }}" class="btn btn-outline-primary">Link</a>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>  
      <div class='two spacing'></div>
      <div class=""><div class="container"><div class="row"><div class="col-md-10 offset-1"><hr></div></div></div></div>
    {% endfor %}
    </div>
</div>

<div class='three spacing'></div>
