---
layout: default
title: Research Projects
section_id: research
---

<div class='full parallax' style='background-image: url(images/background/research.png); color: #fff;'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Research Projects" color="#fff" class="big" %}
    </div>
  </div>
  <div class='three spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul style="font-size: 1.2rem;">
          <li class='current'><a data-cat='all' href='#'>All</a></li>
          <li><a data-cat='cv' href='#'>Computer Vision</a></li>
          <li><a data-cat='st' href='#'>Spatiotemporal Data Analysis</a></li>
          <li><a data-cat='nlp' href='#'>Natural Language Understanding</a></li>
          <li><a data-cat='kg' href='#'>Knowledge Graphs</a></li>
          <li><a data-cat='map' href='#'>Digital Map Processing</a></li>
          <li><a data-cat='health' href='#'>Health</a></li>
          <li><a data-cat='smartcity' href='#'>Smart City</a></li>
          <li><a data-cat='trans' href='#'>Transportation</a></li>
          <li><a data-cat='geoint' href='#'>Geospatial Intelligence (GeoINT)</a></li>
          <li><a data-cat='others' href='#'>Others</a></li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4'>
        {% for work in site.data.research %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info' style="padding: 0 10px;">
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class='three spacing'></div>
