---
layout: default
title: Research Projects
section_id: research
---

<div class='full parallax' style='background-image: url(images/background/research.png); color: #fff;'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Research Projects" color="#fff" class="big" %}
    </div>
  </div>
  <div class='three spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    

      {% for work in site.data.research %}
      

        <div class="container">
          <div class="row">
            <div class='col-md-10 offset-1' style="position: relative">
              <span id="{{work.title}}" style="position: absolute;top: -100px"></span>
              <div style="display: flex">
                <div style="flex-shrink: 0;margin-right: 20px">
                  <img src="{{ work.image }}" class="img-fluid" alt="msaenet-icon" style="object-fit: cover; height: 300px; width: 300px;" />
                </div>
                <div>
                  <h3>{{ work.title }}</h3> 
                  <p class="font-italic"> {{ work.abstract }}</p>
                  <p style="word-spacing: 10px">
                    <a href="{{ work.paper }}" class="btn btn-outline-primary">Paper</a>
                    <a href="{{ work.github }}" class="btn btn-outline-primary">GitHub</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class=""><div class="container"><div class="row"><div class="col-md-10 offset-1"><hr></div></div></div></div>

    {% endfor %}
    </div>
</div>

<div class='three spacing'></div>
